body {
  background: #f7f7f7;
}

.app-content {
  padding: 28px;
}

.button-add-post {
  margin-bottom: 16px !important;
}

.info-post {
  display: flex;
  align-items: center;
}

.link-to-category,
.link-detalhes {
  text-decoration: none;
}

.link-to-category div {
  cursor: pointer;
  margin: 8px 0px 28px 0px;
}

.link-to-category div:hover {
  opacity: 0.8;
}

.total-points {
  font-size: 50px;
  margin: 0px;
  margin-left: 28px;
  color: #f3c819;
}

.button-rate {
  margin: 0px 6px 10px 10px !important;
}

.post-card {
  margin-bottom: 28px;
}

.post-title {
  margin-bottom: 0px;
}

.post-author {
  margin-top: 6px;
}

.sort-posts {
  margin: 8px 0px 8px !important;
}

.select-input {
  width: 150px;
}
